@import url('https://fonts.googleapis.com/css?family=Anaheim|Nothing+You+Could+Do&display=swap'); :root {
    --main-color: black;
    --supplementary-color: white;
    font-family: 'Anaheim', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
    letter-spacing: 0.7px;
    line-height: 1.5;
}

header img {
    display: block;
    width: 30%;
    margin: 0;
}

#navbar a {
    color: var(--main-color);
    text-decoration: none;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
    padding: 5px;
}

#navbar a:hover {
    background: var(--main-color);
    color: var(--supplementary-color);
    padding: 5px;
}

.navbar {
    padding: 0rem;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

p.question {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

p.card-text {
    text-align: left;
}

@media (min-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3px;
    }
}

@media (min-width: 660px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pink-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 660px) {
    .pink-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 980px) {
    .pink-container {
        grid-template-columns: 1fr 1fr;
    }
}

#pink {
    background-color: lightcoral;
}

.jumbotron-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe {
    height: 250px;
    width: 300px;
}

form {
    margin-left: 2rem;
    margin-right: 2rem;
}

#send-button {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

#this-send-button {
    color: var(--main-color);
    font-weight: bold;
}

p.address {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#map {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
}

h3 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
    margin-top: 1rem;
}

h4 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo img {
    width: 10%;
    height: auto;
}

.social-media-icons {
    display: flex;
    justify-content: center;
}

.social-media-icons img {
    width: 20%;
    height: auto;
}

p.footer {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
